nav > ul {
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}

nav li:hover{
    background-color:rgb(241, 153, 153);
}

nav li a{
    text-decoration: none;
    color: black;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: deepskyblue;
    padding: 0;
}

.dropdown li{
    margin: 0;
    
}

nav > ul > li:hover > ul{
    display: block ;
}
